.contact {
  position: relative;
  background-color: $white;
  z-index: 2;
  padding-top: 1px;
}

#googleForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
}
