.contact {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: $white;
  z-index: 2;
  padding-top: 1px;
  width: 100%;

  &__map {
    width: 1000px;
    height: 400px;
  }

  &__info {
    display: flex;

    &__col-one,
    &__col-two {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }
}

#googleForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
}
