<section class="contact">
  <div class="container">
    <form id="googleForm">
      <label for="fullName">Full name:</label>
      <input type="text" id="fullName" name="fullName" />

      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required />

      <label for="phone">Phone:</label>
      <input type="tel" id="phone" name="phone" required />

      <label for="messageSubject">Message Subject:</label>
      <input id="messageSubject" name="messageSubject" required />

      <label for="message">Message:</label>
      <textarea id="message" name="message" required></textarea>

      <button type="submit">Submit</button>
    </form>
  </div>
</section>
