<section class="metric">
  <div class="container">
    <ul class="metric__list">
      <li class="metric__item">
        <span class="metric__number">100+</span>
        <p class="metric__description">
          Projects <br />
          Completed
        </p>
      </li>
      <li class="metric__item">
        <span class="metric__number">25+</span>
        <p class="metric__description">
          Years of <br />
          Expirience
        </p>
      </li>
      <li class="metric__item">
        <span class="metric__number">98%</span>
        <p class="metric__description">
          Customer <br />
          Satisfaction
        </p>
      </li>
      <li class="metric__item">
        <span class="metric__number">12</span>
        <p class="metric__description">
          Industry <br />
          Awards
        </p>
      </li>
    </ul>
  </div>
</section>
