<section class="projects">
  <div class="container">
    <h2 id="projects-title">Our Projects</h2>
    <div class="projects__container">
      <div class="projects__item">
        <img src="./images/1.jpg" alt="Project 1" />
        <h3 id="project1-title">Project 1</h3>
        <p id="project1-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eget felis eget nunc lacinia.</p>
      </div>
      <div class="projects__item">
        <img src="./images/2.jpg" alt="Project 2" />
        <h3 id="project2-title">Project 2</h3>
        <p id="project2-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eget felis eget nunc lacinia.</p>
      </div>
      <div class="projects__item">
        <img src="./images/3.jpg" alt="Project 3" />
        <h3 id="project3-title">Project 3</h3>
        <p id="project3-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eget felis eget nunc lacinia.</p>
      </div>
    </div>
  </div>
</section>
