<section class="services">
  <div class="container">
    <h2 id="services_section_title" class="services__title">Our Services</h2>
    <div class="services__container">
      <div class="services__item">
        <img src="./images/1.jpg" alt="Property Management Service" />
        <h3 id="services_property_management_title" class="services__subtitle">Property Management</h3>
        <p id="services_property_management_description" class="services_description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eget felis eget nunc lacinia.</p>
      </div>
      <div class="services__item">
        <img src="./images/2.jpg" alt="Facility Management Service" />
        <h3 id="services_facility_management_title" class="services__subtitle">Facility Management</h3>
        <p id="services_facility_management_description" class="services_description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eget felis eget nunc lacinia.</p>
      </div>
      <div class="services__item">
        <img src="./images/3.jpg" alt="Project Management Service" />
        <h3 id="services_project_management_title" class="services__subtitle">Project Management</h3>
        <p id="services_project_management_description" class="services_description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eget felis eget nunc lacinia.</p>
      </div>
      <div class="services__item">
        <img src="./images/4.jpg" alt="Technical Audit Service" />
        <h3 id="services_technical_audit_title" class="services__subtitle">Technical Audit</h3>
        <p id="services_technical_audit_description" class="services_description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eget felis eget nunc lacinia.</p>
      </div>
      <div class="services__item">
        <img src="./images/5.jpg" alt="Real Estate Development Service" />
        <h3 id="services_real_estate_development_title" class="services__subtitle">Real Estate Development</h3>
        <p id="services_real_estate_development_description" class="services_description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eget felis eget nunc lacinia.</p>
      </div>
    </div>
  </div>
</section>
