/* COLORS */
$bgColor: #fff;
$secondaryBgColor: #f7f7f7;
$white: #fff;
$headerColor: #1e2d3b;
$darkBlue: #1e2d3b;

$secondaryFontColor: #3d5975;
$decorateYellow: #edcd1f;
$buttonColor: #3b3a3a;
$buttonTextYellow: #edcd1f;
$descriptionLight: #595858;
// $heroTitleTextSize

// SIZES

$titleSize: 55px;
$subtitleSize: 25px;

//FONTS

$fontDescription: normal normal normal 14px/1.4em "Roboto", sans-serif;
// BREAKPOINTS

:root {
  /* FONTS */
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
